<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Adguard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="AdGuard.Utils" publicKeyToken="cc321ba03e90d705" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.4.0.0" newVersion="2.4.0.0" />
      </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.0.106.0" newVersion="1.0.106.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <userSettings>
        <Adguard.Properties.Settings>
            <setting name="MainWindowTop" serializeAs="String">
                <value>NaN</value>
            </setting>
            <setting name="MainWindowLeft" serializeAs="String">
                <value>NaN</value>
            </setting>
            <setting name="FilterEditorTop" serializeAs="String">
                <value>NaN</value>
            </setting>
            <setting name="FilterEditorLeft" serializeAs="String">
                <value>NaN</value>
            </setting>
            <setting name="FilterEditorHeight" serializeAs="String">
                <value>690</value>
            </setting>
            <setting name="FilterEditorWidth" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="FilterEditorState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="DnsFilterEditorTop" serializeAs="String">
                <value>NaN</value>
            </setting>
            <setting name="DnsFilterEditorLeft" serializeAs="String">
                <value>NaN</value>
            </setting>
            <setting name="DnsFilterEditorHeight" serializeAs="String">
                <value>690</value>
            </setting>
            <setting name="DnsFilterEditorWidth" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="DnsFilterEditorState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="FilteringLogLeft" serializeAs="String">
                <value>NaN</value>
            </setting>
            <setting name="FilteringLogHeight" serializeAs="String">
                <value>690</value>
            </setting>
            <setting name="FilteringLogWidth" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="FilteringLogState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="MainWindowHeight" serializeAs="String">
                <value>640</value>
            </setting>
            <setting name="MainWindowWidth" serializeAs="String">
                <value>840</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FilteringLogDetailsWidthFraction" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="ThemeId" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="MainWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="TrialSeen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExpirationSeenCount" serializeAs="String">
                <value>2147483647</value>
            </setting>
            <setting name="IsSettingsCollapsed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExtendTrialSeen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AssociatedShownPartyType" serializeAs="String">
                <value>AllParty</value>
            </setting>
            <setting name="AssociatedShownType" serializeAs="String">
                <value>All</value>
            </setting>
            <setting name="FilterSubscriptionSearchText" serializeAs="String">
                <value />
            </setting>
            <setting name="UserEmailForSupportFeedback" serializeAs="String">
                <value />
            </setting>
            <setting name="LicenseAccountEmail" serializeAs="String">
                <value />
            </setting>
            <setting name="FilteringLogTop" serializeAs="String">
                <value>NaN</value>
            </setting>
            <setting name="InWindowNotificationState" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="DnsFilterSubscriptionSearchText" serializeAs="String">
                <value />
            </setting>
            <setting name="IsBlockOsAdsEnabled" serializeAs="String">
                <value>False</value>
            </setting>
        </Adguard.Properties.Settings>
    </userSettings>
</configuration>
